ion-content{
    --background:#e7e7e7;
   
  }
  ion-toolbar{
      --background: #d37a63;
      border-bottom-left-radius: 20px !important;
      border-bottom-right-radius: 20px !important;
  }
  ion-tab-bar{
    --background: #d37a63;
  }

  ion-item{
    --background:#e7e7e7;
  }