ion-content {
    --background: url('../../assets/landing.jpeg')  no-repeat center/cover;
    opacity:60%;
    
}

h1{
    color:white;

}
.container{
    margin-top: 90%;
}

#cust{
    --background: #505B65;
}

#ven{
    --background: black;
}