<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>My Wishlist</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

<!-- if nothing in the cart show this -->
<div *ngIf="1" class="noitem">
  <!-- <img  src="assets/images/empty-cart.svg" /> -->
  <h1>Oops!</h1>
</div>

<!-- if added then shows this -->
<ion-list *ngIf="0">
  <ion-row>
    
      <ion-col size="3">
          <!-- <img src="{{product.imgurl || 'assets/images/products.svg'}}" style="height: 100%;"/> -->
      </ion-col>

      <ion-col size="9">
          <h4 class="brand">Test</h4>
          <h5 class="amount">BND</h5>
      </ion-col>

  </ion-row>
</ion-list>

</ion-content>
