ion-content{
    --background:#fcfbf4;   
    --ion-text-color: black;
}

ion-toolbar{
    --background: #d37a63;
}

ion-tab-bar{
    --background: #d37a63;
    height: 10%;
}

img {
    width: 100%;
}

.cart {
    width: 80%;
}